/* --------------------- Mise en page générale ---------------------- */

* {  margin: 0;  padding: 0;  outline: none;  list-style-position: inside;  }
*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; margin:0; padding:0; outline:none; }
a:focus, a:hover{text-decoration: none;}
a:focus{ outline: none;}
a, button {text-decoration: none;  -webkit-transition: all ease 0.2s;  -ms-transition: all ease 0.2s;  -moz-transition: all ease 0.2s;  transition: all ease 0.2s;}
body{font-family: 'Open Sans', sans-serif;}
img{max-width:100%;}
.inline{display: inline-block;}
.clear {clear: both;}

::-moz-selection {
    background-color: #0994bf;
    color: #fff;
}
::selection {
    background-color: #0994bf;
    color: #fff;
}

/* --------------------- Header ---------------------- */

h1{
	font-size:12px;
	color:#fff;
	display: inline-block;
	margin:4px 0 0 0;
}

.header{
    padding: 9px;
    background-color: #1d1d1d;
	color:#fff;
}

.header a{
	color:#fff;
    text-align:right;
}

.header a:hover{
	color:#0994bf;
}

.header i{
    margin-right: 10px;
}

/* --------------------- Menu ---------------------- */

.navbar-brand {
    padding: 0;
}

.navbar-brand>img {
    height: auto;
    padding: 15px;
    max-width: 52%;
}

.navbar-right{
    margin-top: 48px;
    margin-bottom: 40px;
}

.navbar-inverse .navbar-nav>li>a{
    color:#242D34;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #0994bf;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
    background-color: transparent !important;
}

.navbar-inverse .navbar-nav>li>a:hover, .dropdown-menu>li>a:hover{
    color:#0994bf;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
    color: #0994bf;
    background-color: #0994bf;;
}

.navbar-inverse .navbar-nav>li>a:active{
    color:#0994bf;
}

.navbar-inverse .navbar-nav>li>a:focus{
    color:#0994bf;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
    color: #0994bf;
    background-color: #f1f1f1;
}

.menu .navbar-brand {
    height: 80px;
    float:none;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border:none;
}

.navbar-inverse{
    background-color: transparent;
    border:none;
}

.menu .nav >li >a {
    padding-bottom: 10px;
    font-size:18px;
    margin-right:35px;
    font-weight:bold;
}

.menu .navbar-toggle {
    padding: 10px;
    margin: 25px 15px 25px 0;
}

.navbar-inverse .navbar-nav>li>a{
    display: inline-block;
    padding: 10px 0 5px 0;
    overflow: hidden;
    margin-top:-3px;
}

.navbar-inverse .navbar-nav>li>a:before{
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: #0994bf;
    transform: translateX(-100%);
}

.navbar-inverse .navbar-nav>li>a:hover:before {
    transform: translateX(0);
}

.navbar-inverse .navbar-nav>li>a:before, .navbar-inverse .navbar-nav>li>a:after {
    content: '';
    position: absolute;
    transition: transform .5s ease;
}

/* --------------------- Page d'accueil ---------------------- */

#presentation{
    padding:50px 0;
    margin-top:60px;
    background-color: #f3f3f3;
}

#cat-produits{
    padding: 50px 0;
}

/* --------------------- Page d'accueil - Produits ---------------------- */

.produit{
    cursor: pointer; 
    margin-bottom: 1.5em;  
    outline: #cecece solid 1px; 
    padding:20px;
    transition: box-shadow .3s ease-in-out;
}

.produit:hover{
    background-color: #f9f9f9;
    box-shadow: 0 14px 16px 0 rgba(0,0,0,0.17);
}

.produit h3{
    text-align:center; 
    height:35px; 
    overflow:hidden;
    text-transform: uppercase;
    color:#1d1d1d;
    font-size:16px;
    font-weight: 700;
}

.produit:hover h3{
    color:#0994bf;
}

.produit img{ 
    display: block; 
    margin: 1em auto;
    max-height:150px;
    width:auto;
}

/* --------------------- Page index produits ---------------------- */

#index-produit{
    background-color:#f3f3f3;
    margin-top:50px;
    padding:50px 0;
}

.title{
    text-align:center;
    text-transform: uppercase;
    font-size:20px;
    font-weight: 700;
    margin-bottom:50px;
}

.prix{
    text-align:center;
    color: #6a1212;
}

.page { 
    text-align: center; 
    margin-top:50px;
}

.page span, .page a { 
    border-radius: 50px; 
    display: inline-block; 
    padding: 10px 15px 10px 15px; 
    color: white; 
    background: #0994bf; 
    font-size: 13px; 
}

.page span { 
    color: white; 
    background: #0994bf; 
}

.page a { 
    color: #0994bf; 
    background: transparent; 
}

.page a:hover { 
    color: white; 
    background: #0994bf; 
}

/* --------------------- Page ddescription produit ---------------------- */

#page-produit{
    background-color:#f3f3f3;
    margin-top:50px;
    padding:50px 0;
}

.produit-desc h3{ 
    margin-bottom: 1.5em;
}

.produit-desc img{
    width:20%; 
    margin: 0 auto 40px auto; 
    display: block; 
    border:#ccc solid 1px; 
}

.produit-desc {
    text-align:center;
}

.produit-desc  .para{
    text-align:center; 
    padding:0 100px; 
    margin-bottom: 40px;
}

.produit-desc  input{
    height: 34px;
    width: 15%;
    padding: 6px 9px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid transparent;
}

.produit-desc span{
    font-weight:700;
    font-size:20px;
    margin-right:10px;
    color: #0994bf;
}

.produit-desc  .quantite{
    margin-top:-2px;
}

.produit-desc .quantite .border{
    display: inline;
    border: 1px solid #cecece;
    border-radius:4px;
    padding:8px 9px;
}

.produit-desc  .quantite a{
    padding:8px 9px;
    color:#0994bf;
    font-weight: 700;
    letter-spacing: -1px;
}

.produit-desc  .quantite a:hover{
    color:#1d1d1d;
}

.produit-desc  .quantite p{
    margin-right: 10px;
    font-weight:600;
    text-transform: uppercase;
}

.produit-desc  .button{
    margin-top:-6px;
}

.produit-desc  .infos{
    padding:0 100px;
}

.button{
    background-color:#0994bf;
    font-size:14px;
    text-transform: uppercase;
    display:inline-block;
    color:#fff;
    font-weight:bold;
    padding:10px;
    border:1px solid #0994bf;
    border-radius: 5px;
    text-align:center;
    margin-bottom:20px;
    cursor: pointer;
}

.button:hover{
    color:#0994bf;
    background-color: #fff;
}

/* --------------------- Présentation ---------------------- */

#presentation-page{
    background-color:#f3f3f3;
    margin-top:50px;
    padding:50px 0; 
}

#presentation-page .button{
    margin-top:50px;
}
#presentation-page p{
    font-size: 17px;
}

/* --------------------- Inscription ---------------------- */

#inscription{
    background-color:#f3f3f3;
    margin-top:50px;
    padding:50px 0; 
}

#inscription .button{
    margin-top: 15px;
}

/* --------------------- Connexion ---------------------- */

#connexion{
    background-color:#f3f3f3;
    margin-top:50px;
    padding:50px 0; 
}

#connexion fieldset{
    width: 472px;
    margin: 0 auto;
    margin-bottom:80px;
}

/* --------------------- Panier ---------------------- */

#panier{
    background-color:#f3f3f3;
    margin-top:50px;
    padding:50px 0; 
}

.table{
    vertical-align:middle;
    padding: 10px 8px;
}

.table{
    border-bottom: none;
}

.table{
    border:1px solid #cecece;
}

/* --------------------- Contact ---------------------- */

#contact{
    background-color:#f3f3f3;
    margin-top:50px;
    padding:50px 0; 
}

#contact fieldset{
    margin: 115px 0;
}

textarea.form-control{
    height: 123px;
}

/* --------------------- Footer ---------------------- */

.footer{  
    background-color:#0b0b0b; 
    padding:1em 0;
}

.footer ul{
    margin-top:12px;
}

.footer ul li{
    display:inline-block; 
    margin-right:40px;
}

.footer ul li a{
    color:#d2d2d2; 
    font-weight:700; 
    font-size:15px;
}

.footer a:hover{
    color:#0994bf; 
}

.footer hr{
    background-color: #2f2f2f; 
    height:1px; 
    width:100%;
}

.copyrightText{
    color:#4c4c4c; 
    font-size:12px; 
    letter-spacing: 0.12em; 
    text-transform: uppercase;
}

.copyrightText a{
    color:#4c4c4c;
}

/* --------------------- Responsive ---------------------- */

@media screen and (max-width: 1200px) {
    .navbar-right {
        float: none !important;
    }
}

@media screen and (max-width: 1000px) {
    .navbar-right {
        float: none !important;
    }
    .navbar-brand>img{
        margin-left:-28px;
    }
}

@media screen and (max-width: 991px){
    .menu .nav >li >a{
        font-size:16px;
    }
    #presentation-page img{
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 767px){
    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a:focus, .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
        color: #242D34;
        background-color: transparent;
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a:focus, .navbar-inverse .navbar-nav .open .dropdown-menu>li>a:hover {
        color: #8c077c;
        background-color: transparent;
    }
    .navbar-brand>img{
        max-width:148px;
        margin-left:0;
    }
    .menu .nav>li:first-child{
        margin-left:0;
    }
    .menu .nav >li >a{
        display:block;
        text-align: right;
    }
}

@media screen and (max-width: 520px){
    #connexion fieldset, #mdp-oublie fieldset{
        width:100%;
    }
}


